#navigation {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease;
    background-color: #fff;
}

#logo {
    height: 80px;
    width: 80px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style-type: none;
}

.nav ul li a {
    font-size: 14px;
    font-weight: bold;
    transition: 300ms;
    text-decoration: none;
    /* color: #fff; */
    color: #2D2D2D;
}

.login-bg-white {
    padding: 10px 20px;
    border-radius: 9999px;
    border: none;
    /* background: #fff; */
    background-color: #2D2D2D;
    /* color: var(--violet-color) !important; */
}

#login {
    color: #fff;
}

.login-bg-white:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}

.login-bg-gradient {
    padding: 10px 20px;
    border-radius: 9999px;
    border: none;
    background: linear-gradient(90.37deg, #22D2FF -1.83%, #5F84FE 48.99%, #9F39FF 99.8%);
    color: #fff
}

.login-bg-gradient:hover {
    cursor: pointer;
    background: var(--violet-color);
}

.blue-link {
    color: var(--violet-color) !important;
}